.container {
  width: 400px;
  height: fit-content;
  padding: 30px 24px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  background: #edeef7;
  border-radius: 5px;

  h1 {
    margin: 0;
    color: #000;
  }
  .pending {
    color: gray;
    font-size: 14px;
  }
}
