* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: linear-gradient(
    180deg,
    rgba(6, 202, 39, 0.519) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  height: 100vh;
  font-family: stolzl;
  font-weight: 100;
}

::placeholder {
  color: gray;
  opacity: 1;
}

@font-face {
  font-family: stolzl;
  src: url(./assets/fonts/STOLZL-BOLD.TTF);
  font-weight: 300;
}
@font-face {
  font-family: stolzl;
  src: url(./assets/fonts/STOLZL-MEDIUM.TTF);
  font-weight: 200;
}
@font-face {
  font-family: stolzl;
  src: url(./assets/fonts/STOLZL-REGULAR.TTF);
  font-weight: 100;
}
